/* Bio */

.bio {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.download-cv {
  align-self: center;
  padding: 16px;
  background-color: var(--light400);
  box-shadow: inset 0 0 0 2px var(--light400);
  border-radius: 32px;
  transition: .1s ease;
  color: var(--light100);
  white-space: nowrap;
}

.download-cv:hover {
  background-color: var(--blue);
  color: var(--light);
}

.download-cv:focus {
  box-shadow: 0 0 0 2px var(--blue);
}

.job-title {
  margin: auto;
}

.profile>*+* {
  margin-top: 24px;
}

.profile .profile-intro {
  color: var(--light);
}

.profile .profile-columns {
  color: var(--light200);
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.profile .profile-columns p {
  width: 50%;
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.contact .email {
  width: max-content;
  color: var(--light);
  border-radius: 4px;
  transition: .1s ease;
}

.contact .email:hover, .contact .email:focus {
  color: var(--blue);
}

.contact .address, .contact .military-service {
  color: var(--light200);
}

.sections {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.sections>li {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.sections>li>h2::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--light);
  border-radius: 50%;
}

.experience, .education, .projects {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.certificates {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.graphic-design ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.skills {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  align-items: flex-start;
}

.skills>ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 300px;
  align-items: flex-start;
}

.skills>ul>li {
  padding: 8px 16px;
  background-color: var(--light400);
  box-shadow: inset 0 0 0 2px var(--light400);
  border-radius: 32px;
  transition: .1s ease;
}

.skills>ul>li:hover {
  background-color: var(--light300);
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
  width: 300px;
  background-color: var(--light400);
  border-radius: 16px;
  transition: .1s ease;
}

.gallery {
  cursor: pointer;
}

.box .preview-img {
  position: absolute;
  bottom: 32px;
  right: 32px;
  height: 24px;
  object-fit: cover;
  border-radius: 4px;
  transform: translate(50%, 50%);
  filter: saturate(0);
  transition: .1s ease;
}

.projects .box {
  position: relative;
  width: calc(100% - 2 * 64px);
  margin: 0 64px;
  padding: 24px 64px;
}

.projects .box .details {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.project-image {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  aspect-ratio: 5 / 6;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  background-color: var(--light400);
  transition: .1s ease;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
}

.box:hover .project-image {
  height: 110px;
}

.box:hover {
  background-color: var(--light300);
}

.box:hover .preview-img {
  height: 32px;
  filter: saturate(1);
}

.focus-box:focus {
  box-shadow: 0 0 0 2px var(--blue);
}

.title, .subtitle {
  color: var(--light);
}

.date, .link, .list {
  color: var(--light200);
}

.list {
  transition: .1s ease;
  border-radius: 12px;
}

.list:hover {
  color: var(--light);
}

.list:focus {
  box-shadow: 0 0 0 2px var(--blue);
}

.link {
  width: max-content;
}

.footer-img {
  width: 56px;
  height: 56px;
  filter: saturate(0);
  margin: auto;
}