:root {
  --font-primary: 'Commissioner', sans-serif;
  --font-secondary: 'Cormorant Infant', sans-serif;
  --blue: rgb(44, 117, 255);
  --blue100: rgba(44, 117, 255, .4);
  --blue200: rgba(44, 117, 255, .1);
  --dark: rgb(0, 0, 0);
  --dark100: rgba(0, 0, 0, .6);
  --dark200: rgba(0, 0, 0, .4);
  --dark300: rgba(0, 0, 0, .15);
  --dark400: rgba(0, 0, 0, .075);
  --light: rgb(255, 255, 255);
  --light100: rgba(255, 255, 255, .6);
  --light200: rgba(255, 255, 255, .4);
  --light300: rgba(255, 255, 255, .10);
  --light400: rgba(255, 255, 255, .05);
  --light-s-300: #262626;
  --light-s-400: #131313;
}


/* Typefaces */

.f-display {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
}

.f-header-1 {
  font-family: var(--font-primary);
  font-size: 2.25rem;
  font-weight: 800;
}

.f-header-2 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 600;
}

.f-display-alt {
  font-family: var(--font-secondary);
  font-size: 3.4rem;
  font-weight: 400;
}

.f-header-alt-1 {
  font-family: var(--font-secondary);
  font-size: 2.25rem;
  font-weight: 400;
}

.f-header-alt-2 {
  font-family: var(--font-secondary);
  font-size: 1.75rem;
  font-weight: 300;
}

.f-header-alt-3 {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  font-weight: 300;
}

.f-nav {
  font-family: var(--font-primary);
  font-size: .875rem;
  font-weight: 400;
}

.f-nav-2 {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  font-weight: 400;
}

.f-paragraph-1 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 400;
}

.f-paragraph-2 {
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 400;
}

.f-paragraph-2-medium {
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 500;
}

.f-paragraph-3 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
}

.f-paragraph-3-medium {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
}

.f-paragraph-4 {
  font-family: var(--font-primary);
  font-size: .9rem;
  font-weight: 500;
}

.f-paragraph-alt-1 {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  font-weight: 400;
}

.f-paragraph-alt-2 {
  font-family: var(--font-secondary);
  font-size: .9rem;
  font-weight: 300;
}


/* Components */


/* END Components */


/* Main CSS */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: var(--light300) var(--dark);
}

::-webkit-scrollbar {
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light300);
}

*:focus,
*:focus-within,
*:focus-visible,
*:active {
  outline: none;
}

ul,
li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  user-select: none;
  color: var(--light);
}

html {
  font-size: clamp(12px, 2vw, 16px);
  line-height: 1.4;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.root {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  color: var(--light);
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  transition: background-color .2s ease-in-out;
}

.app {
  width: 100%;
  height: auto;
  margin: auto;
}

[tabindex="0"]:focus-visible {
  box-shadow: 0 0 0 2px var(--blue);
}


/* Display Image */

.display-container {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark100);
  animation: fadeIn .2s ease;
  cursor: pointer;
}

.display {
  height: max-content;
  width: max-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  background-color: var(--light-s-400);
  border-radius: 16px;
  cursor: initial;
  pointer-events: all;
}

.display-img {
  border-radius: 8px;
}

/* Portrait */
@media screen and (orientation:portrait) {
  .display-img {
    max-width: 70vw;
  }
}
/* Landscape */
@media screen and (orientation:landscape) {
  .display-img {
    max-height: 70vh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}