/* Project */

.project {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--light100);
}

.project>*+* {
  margin-top: 5em;
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.project-title {
  color: var(--light);
}

.project-subtitle {
  color: var(--light100);
  margin-top: 4px;
}

.project-img-container {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  overflow: hidden;
}

.project-img {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .1);
}

.project-links {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.project-links a {
  white-space: nowrap;
  color: var(--blue);
}

.project-links a:hover {
  text-decoration: underline;
}

.list, .synopsi {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}

.synopsi {
  margin-top: 32px;
  max-width: 600px;
}

.list>* {
  align-self: flex-start;
  padding: 8px 16px;
  background-color: var(--light400);
  box-shadow: inset 0 0 0 2px var(--light400);
  border-radius: 32px;
  transition: .1s ease;
  color: var(--light100);
}

.list>*:hover {
  background-color: var(--light300);
  color: var(--light);
}

span.white {
  color: var(--light);
}

.carousel {
  width: 100%;
  background-color: var(--light400);
  border-radius: 16px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  position: relative;
  display: flex;
}

.main-img {
  width: 100%;
  aspect-ratio: 9 / 6;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 0 10px var(--dark);
}

.arrow-left-container, .arrow-right-container {
  width: 20%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow-left-container {
  left: 0;
}

.arrow-right-container {
  right: 0;
  transform: rotate(180deg);
}

.arrow-left, .arrow-right {
  opacity: 0;
  width: 2em;
  height: 2em;
  background-color: var(--dark100);
  border-radius: 50%;
  margin-left: 16px;
  transition: opacity .1s ease;
}

.arrow-left img, .arrow-right img {
  width: 100%;
}

.main:hover * {
  opacity: 1;
}

.imgs-list {
  display: flex;
  flex-direction: row;
  column-gap: .75em;
  margin-top: .75em;
  overflow: auto;
}

.mockup {
  height: 66px;
  border-radius: 8px;
  aspect-ratio: 9 / 6;
  object-fit: cover;
  opacity: .6;
  cursor: pointer;
  transition: .1s ease;
}

.mockup.selected {
  opacity: 1;
  border: 3px solid var(--blue);
}

.mockup:hover {
  opacity: 1;
}

.mockup:focus {
  box-shadow: none;
}

.section-text>*+* {
  margin-top: 8px;
}

.hr {
  border-top: 1px solid var(--light300);
  width: 100%;
}