/* Style */

.home {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.title {
  position: relative;
}

.subtitle {
  color: var(--light200);
}

.home-img-container {
  margin-top: 64px;
}

.home-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 9 / 6;
  border-radius: 8px;
}

.caption {
  text-align: center;
  color: var(--light200);
}

.caption span {
  color: var(--light);
}