/* Header */

.header {
  width: 100%;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  margin-left: 15%;
  user-select: none;
}

.profile-pic-nav {
  width: 60px;
  height: 60px;
  border: 2px solid var(--light400);
  border-radius: 50%;
  margin-top: 54px;
}

.job-title {
  color: var(--light100);
}


/* Navigation */

.nav-container {
  user-select: none;
}

.nav {
  width: 100%;
}

.nav-header {
  display: none;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.nav-list li {
  width: max-content;
}

.nav-list-item {
  width: max-content;
  color: var(--light200);
  transition: .1s ease-in-out;
  cursor: pointer;
}

.active-nav {
  color: var(--light);
}

.projects-list {
  margin-left: 16px;
}

.nav-list-item.active {
  color: var(--light);
}

.nav-list-item:hover {
  color: var(--light);
}

.featured {
  position: relative;
}

.featured::after {
  display: block;
  content: "Featured";
  position: absolute;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue);
  background-color: var(--blue200);
  font-family: var(--font-primary);
  font-size: .7rem;
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 4px;
}


/* Social */

.social-profiles {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin-top: 16px;
}

.social-profiles a {
  border-radius: 50%;
  transition: .2s ease;
}

.social-profiles svg {
  width: 20px;
  height: 20px;
  fill: var(--light100);
  transition: .2s ease;
}

.social-profiles a:hover svg {
  fill: var(--light);
}


/* Footer */

.footer {
  margin-top: auto;
}

.copyrights {
  color: var(--light300);
  margin-bottom: 24px;
}

/* Container */

.container {
  display: flex;
  flex-direction: row;
}

/* Content */

.content {
  width: 100%;
  height: 100vh;
  padding: 64px;
  padding-top: 240px;
  overflow-y: auto;
}